INTRODUCCION

se denominan colecciones y son estructuras que nos permiten almacenar datos.
en **python** existen varios tipos de colecciones:


*   Listas
*   tuplas
*  conjuntos
*   diccionario

LISTAS (cumplen la misma función que los arreglos/arrays en JS)

las listas son similares a los arreglos en JS.**Nos permiten acceder a sus elementos a través de sus índices**

## creación y accesos

utilizan corchetes para la creación y acceso a sus elementos

In [ ]:
lenguajes = ['python', 'java', 'javescript', 'cx']
print(lenguajes)
print(lenguajes[0])
print(lenguajes[1])
print(lenguajes[2])

['python', 'java', 'javescript', 'cx']
python

In [ ]:
numeros = [3,4,5,6,7,8,9,]
res =numeros [-3] + numeros [5]
print(res)

15

OTRA FORMA ALTERNATIVA DE CREAR LISTAS ES CON LA FUNCIÓN **LIST**

In [ ]:
mi_lista = list('1234567')
print(mi_lista)
milista_enteros = [int (x) for x in mi_lista]
print(milista_enteros)

['1', '2', '3', '4', '5', '6', '7']
[1, 2, 3, 4, 5, 6, 7]

In [ ]:
mi_lista = list('1234567')
lista_final = []

#a medida que se recorre el mi_list con la funcion append se va llenando
for x in mi_lista:
  lista_final.append(int(x))
  print(lista_final)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]

In [ ]:
ml = list( range(1,20))
print(ml)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
mi_lista = [2, 3.5, True, "sena", ["3", "8", "a", 5]]
print(mi_lista)

[2, 3.5, True, 'sena', ['3', '8', 'a', 5]]

In [ ]:
mi_lista = [1, 2,3, ['p', 'q', [5, 6, 7]]]
print(mi_lista[3][2][1])
print(mi_lista[-1][-1][-2])

6
6

In [ ]:
mi_lista = list(range(1, 10))
print(mi_lista)
print(mi_lista[1:4])
print(mi_lista[:2])
print(mi_lista[7:])
print(mi_lista[-5:-1])
print(mi_lista[-3:])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4]
[1, 2]
[8, 9]
[5, 6, 7, 8]
[7, 8, 9]

In [ ]:
mi_lista = [1,2,3,4,5]
mi_lista [0:3]= ["a","b", "c"] #va a asignar valores a cada posicion (1=a)
#y luego imprime el resto (4,5...)
print(mi_lista)

['a', 'b', 'c', 4, 5]

In [ ]:
mi_lista =[1,2,3,4,5]
mi_lista = mi_lista + [6] #se le agrega a la lista el num 6
print(mi_lista)
mi_lista = mi_lista + [7]
print(mi_lista)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]

In [ ]:
mi_lista = [1,2,3,]
x,y,z = mi_lista
print(f"valor de x: {x}")
print(f"valor de y: {y}")
print(f"valor de z: {z}")

valor de x: 1
valor de x: 2
valor de x: 3

# Eliminaciòn e inserciòn

para eliminar los elementos de una lista utilizamos una palabra reservada **del**

In [ ]:
lenguajes = ["python", "java", "javaScript"]
del lenguajes[1]
print(lenguajes)

['python', 'javaScript']

Expliquemo como  insertar datos con la función **insert** y al final de la lista con **append**

In [ ]:
lenguajes=["Python", "Java","JavaScript"]
lenguajes.append("C#") #agrega al final de la lista
lenguajes.append("Ruby")
lenguajes.insert(1, "C++") #inserta en la posción 1, haciendo que este valor pase a ser la posicion 1
print(lenguajes)

In [ ]:
lista = ["cosa", "casa", "sala"]
lista.sort ()
print(lista)

['casa', 'cosa', 'sala']

In [ ]:
lenguajes = ["Python", "java", "javaScript"]
print("Python" in lenguajes)
print("C++" in lenguajes)

True
False

# Recorrido de listas
como las listas son objetos iterables las podemos recorrer con un ciclo **for**

In [ ]:
numeros = [1, 2, 3, 4 ,5]
print(numeros)
for n in numeros:
  print(n)

[1, 2, 3, 4, 5]
1
2
3
4
5

podemos recorrer la lista utilizando el metodo **len**

In [ ]:
mi_lista = [4, 5, 6, 7]
for indice in range (0, len(mi_lista)):
  print(mi_lista[indice])

4
5
6
7

podemos acceder al indice de cada elemento a través de la función **enumerate**

In [ ]:
numeros =[3,29,42,34,54]
for x,y in enumerate(numeros):
  print(f"En la posición x {x} encontramos el valor: {y}")

En la posición x 0 encontramos el valor: 3
En la posición x 1 encontramos el valor: 29
En la posición x 2 encontramos el valor: 42
En la posición x 3 encontramos el valor: 34
En la posición x 4 encontramos el valor: 54

In [ ]:
letras = ["A", "B", "C", "D", "E"]
for inidice,valor in enumerate(letras):
  print(f"En la posición x{inidice} encontramos el valor {valor}")

En la posición x0 encontramos el valor A
En la posición x1 encontramos el valor B
En la posición x2 encontramos el valor C
En la posición x3 encontramos el valor D
En la posición x4 encontramos el valor E

In [ ]:
lista = [2,36,76,23]
ind = 0
while ind < len(lista): #llegará hasta la longitud de la lista
  print (lista[ind]) #imprime la posición de cada vuelta
  ind+=1
#cuando llegue a la posición 3 (23) se rompe el ciclo

2
36
76
23

se encuentran con dos lista y se desea recorrer de manera simultanea mostrando el valor de la dos en cada posicion, ¿ayudarias a terminar el codigos de tal forma que se obtenga el iguiente resultado?

In [ ]:
lista = ["ma", "me", "mi", "mo", "mu"]
lista2 = ["pa", "pe", "pi", "po", "pu"]
ind = 0
while ind < len(lista):  #llegará hasta la longitud de la lista
  print (f"{lista[ind]} - {lista2[ind]}") #imprime la posición de cada vuelta de cada lista
  ind+=1

ma - pa
me - pe
mi - pi
mo - po
mu - pu

con la función **zip** podemos iterar varias listas simultaneamente

In [ ]:
lista = ["ma", "me", "mi", "mo", "mu"]
lista2 = ["pa", "pe", "pi", "po"]
lista3 = ["ma", "me", "mi", "mo", "mu"]
lista4 = ["pa", "pe", "pi", "po"]

for x in zip(lista,lista2,lista3,lista4):
  print(x)

('ma', 'pa', 'ma', 'pa')
('me', 'pe', 'me', 'pe')
('mi', 'pi', 'mi', 'pi')
('mo', 'po', 'mo', 'po')

metodos aplicables a lista

el metodo sort() nos permite ordenar lso elementos

In [ ]:
mi_lista = [5,10,8,3,1,52]
mi_lista.sort()
print(mi_lista)

[1, 3, 5, 8, 10, 52]

podemos pasarle el siguiente metodo **reverse=True** al método **sort** para que ordene los elementos inversamente

In [ ]:
mi_lista = [5,10,8,3,1,52]
mi_lista.sort(reverse=True)
print(mi_lista)

[52, 10, 8, 5, 3, 1]

el metodo **reverse()** recibe como argumento un objeto y lo borra de la lista

In [ ]:
lenguajes = ["python", "java", "javaScript"]
lenguajes.remove ("java")
print(lenguajes)

['python', 'javaScript']

In [ ]:
lenguajes = ["python", "java", "javaScript"]
del lenguajes [1]
print(lenguajes)

['python', 'javaScript']

el metodo **reverse()** invierte el contenido de la lista

In [ ]:
lenguajes = ["python", "java", "javaScript"]
lenguajes.reverse ()
print(lenguajes)

['javaScript', 'java', 'python']

In [ ]:
cadena = "HOLA MUNDO SENA"
print (cadena[::-1])

ANES ODNUM ALOH

In [ ]:
cadena="HOLA MUNDO SENA"
lista =list(cadena)#volvió una lista la cadena
print(lista)
lista.reverse()#hace que la cadena se haga al revés
print(lista)
cadena = "".join(lista)#reunir jcada letra de la cadena en una sola palabra
print(cadena)

['H', 'O', 'L', 'A', ' ', 'M', 'U', 'N', 'D', 'O', ' ', 'S', 'E', 'N', 'A']
['A', 'N', 'E', 'S', ' ', 'O', 'D', 'N', 'U', 'M', ' ', 'A', 'L', 'O', 'H']
ANES ODNUM ALOH

**otros metodos para listas**

clear()
Vacía todos los ítems de una lista:
lista.clear()
[]
extend()
Une una lista a otra:
11 = [1,2,3]
12 = [4,5,6]
11.extend(12)
[1, 2, 3, 4, 5, 6]
count()
Cuenta el número de veces que aparece un item:
["Hola", "mundo", "mundo"].count("Hola")
1
index()
Devuelve el índice en el que aparece un ítem (error si no aparece): ["Hola", "mundo", "mundo"].index("mundo")
1
pop()
Extrae un item de la lista y lo borra:
1 = [10, 20, 30, 40, 50]
print(l.pop())
50
[10, 20, 30, 40]*

#Tuplas

las tuplas son similares a las listas pero las tuplas **no se pueden cambiar**
se acceden por medio de las posiciones

¨**ventaja:** en cuanto a seguridad, un usuario no podría cambiar los datos de una tupla

In [ ]:
mi_tupla = ("a", "b", "c", "d")
#print(type(mi_tupla))
print(mi_tupla[1])
print(mi_tupla[1:3])
print(mi_tupla[:-1])#inicia por defecto en la poscion 0 ("a")

b
('b', 'c')
('a', 'b', 'c')

In [ ]:
mi_tupla = ("a", "b", "c", "d")
mi_tupla[0] = "z"
print(mi_tupla)

TypeError: 'tuple' object does not support item assignment

In [ ]:
mi_tupla = (100,'hola',[1,2,3], -50)
print(mi_tupla[2][-1])#en la posción 2 se encuentra [], y en esa cadena de número vamos al final con el -3
mi_tupla = (100, "hola", (1, (200, "D", ["X", "Y", "Z"])), (1,2,3), -50)
print(mi_tupla[2][1][2][1])

3
Y

:

In [ ]:
mi_tupla = (1,2,3,4,5,6,7,8,9,2,52,6,3,9,2,4,7,8,2)
print(mi_tupla.count(2))

4

In [ ]:
mi_tupla = (1,2,3,4,5,6,7,8,9,2,52,6,3,9,2,4,7,8,2)
mi_tupla.sort()
print(mi_tupla)

AttributeError: 'tuple' object has no attribute 'sort'

In [ ]:
mi_tupla =  tuple ("amoamimama")
print(mi_tupla)

('a', 'm', 'o', 'a', 'm', 'i', 'm', 'a', 'm', 'a')

In [ ]:
mi_tupla = tuple ( input("INGRESE UNA FRASE: "))
print(mi_tupla)
print(f"la cantidad de elementos que tiene la tupla es: {len(mi_tupla)}")

for dato in mi_tupla:
  print(dato)

INGRESE UNA FRASE: msjdkajjs
('m', 's', 'j', 'd', 'k', 'a', 'j', 'j', 's')
la cantidad de elementos que tiene la tupla es: 9
m
s
j
d
k
a
j
j
s

##Paso de tupla a lista y viceversa

In [ ]:
#de lista a tupla
mi_lista= [1,2,3,4,5]
mi_tupla = tuple(mi_lista)
print(mi_tupla)

(1, 2, 3, 4, 5)

In [ ]:
#de tupla a lista
mi_tupla= [1,2,3,4,5]
mi_lista = list(mi_tupla)
print(mi_lista)

[1, 2, 3, 4, 5]

In [ ]:
mi_tupla =(3,4,5,6,15,20,63,4,2,8,9)
mi_lista = list(mi_tupla)
mi_lista.sort()
mi_tupla =tuple(mi_lista)
print(mi_tupla)

(2, 3, 4, 4, 5, 6, 8, 9, 15, 20, 63)

##apropiación

1. Pregunte al usuario cuántos elementos desea ingresar en una lista, luego solicite cada uno de ellos y presente el contenido de la lista y su contenido invertido.

In [ ]:
can_elementos = int(input('¿cuántos elementos desea ingresar en una lista?: '))
mi_lista =[]#hace que haya un espacio para los elementos de la lista

for indice1 in range(can_elementos): #va a llegar hasta la cantidad de elementos que haya ingresado el usuario
  elementos2 = int(input('Ingrese los numeros(elementos3) que quiere en la lista: '))
  mi_lista.append(elementos2)
  print(mi_lista)
  mi_lista.reverse()
  print(mi_lista)

¿cuántos elementos desea ingresar en una lista?: 3
Ingrese los numeros(elementos) que quiere en la lista: 2
[2]
[2]
Ingrese los numeros(elementos) que quiere en la lista: 2
[2, 2]
[2, 2]
Ingrese los numeros(elementos) que quiere en la lista: 4333
[2, 2, 4333]
[4333, 2, 2]

2. Crear una lista de números y solicitar un número. Borrar de la lista ese número en todas las posiciones donde se encuentre. Presentar la lista final

In [ ]:
mi_lista = [1,2,3,4,5,6,7,8,9]
num = int(input('dinos un número del 1-9: '))
mi_lista.remove(num)
print(f"Se ha eliminado el valor: {num}\n la lista ha quedado{mi_lista}")

dinos un número del 1-9: 3
Se ha eliminado el valor 3
 la lista ha quedado[1, 2, 4, 5, 6, 7, 8, 9]

Solicite al usuario dos(2) frases y devuelva una lista con todas las letras que se repiten en la misma posición de ambas listas

In [ ]:
frase1 = input("Ingrese una frase: ")
frase2 = input("Ingrese otra frase: ")
letras_repetidas = []#hacer que letras repetidas sea una lista

#que la longitud sea la minima de una de las frases
longitud = min(len(frase1), len(frase2))

# Comparar las letras en la misma posicion
for i in range(longitud):
    if frase1[i] == frase2[i]:#compara cada letra de la frase
        letras_repetidas.append(frase1[i])

print("Letras repetidas en la misma posición:", letras_repetidas)

Ingrese una frase: hola como estas
Ingrese otra frase: hola estas vas
Letras repetidas en la misma posición: ['h', 'o', 'l', 'a', ' ']